<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" style="background-color: #fff">
                    <div class="row">
                        <div class="col-12 ml-4 mt-3">
                            <span class="letra-cabecera">Usuarios</span>
                        </div>
                    </div>


                    <div class="card-body mt-3" >
                        <form  [formGroup]="filterGroup">
                          <div class="form-row ml-0 mr-0">
                            <div class="col-lg-9 p-0 m-0">
                              <div class="row">
                                <mat-form-field appearance="outline" class="col-lg-3   mat-form-field-rounded">
                                  <mat-label>Fecha inicio</mat-label> 
                                  <input  matInput [matDatepicker]="picker1" name="date_form" 
                                  id="miid" placeholder="Fecha de Inicio" (click)="picker1.open()" formControlName="startDate">
                                  <mat-icon matSuffix>date_range</mat-icon>
                                  <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                  
                                <mat-form-field appearance="outline" class="col-lg-3">
                                  <mat-label>Fecha fin</mat-label>
                                  <input matInput [matDatepicker]="picker2" name="" date_to formControlName="endDate"
                                    placeholder="Fecha de Fin" (click)="picker2.open()">
                                    <mat-icon matSuffix>date_range</mat-icon>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                  
                                <mat-form-field appearance="outline" class="col-lg-3">
                                  <mat-label>Estado</mat-label>
                                  <mat-select name="message" formControlName="status" >
                                    <mat-option value="">--</mat-option>
                                    <mat-option value="ACTIVO">ACTIVO</mat-option>
                                    <mat-option value="INACTIVO">INACTIVO</mat-option>
                                  </mat-select>
                                </mat-form-field>
                  
                                <div class="col-lg-3">
                                  <button class="btn btn-size btn-primary mt-1" (click)="filter()"><i class="fas fa-search mr-1"> </i> Consultar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <hr class="p-0 m-0">
                      </div>


                      <div class="card-body pt-0  justify-content-end">
                        <div class="row align-items-center">
                          <div class=" mr-auto" style=""> 
                            <mat-form-field appearance="outline" class="pt-2 ml-1 col-7">
                              <mat-select name="message" value="10" (selectionChange)="onSelectChange($event)" #event disableOptionCentering>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="5">5</mat-option>
                                <mat-option value="10">10</mat-option>
                                <mat-option value="15">15</mat-option>
                                <mat-option value="50">50</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          <div class="mt-1" [formGroup]="filterGroup">
                            <div [formGroup]="searchGroup">
                              <mat-form-field appearance="outline">
                                <mat-icon matPrefix style="margin-left: 10px;">search</mat-icon>
                                <input matInput placeholder="Buscar" formControlName="searchTerm"/>
                              </mat-form-field>
                            </div>
                          </div>
              
                          <div class="p-2" style="margin-top: -15px;">
                            <button class="btn btn-size btn-primary" (click)="openCreate()" ><i class="fas fa-plus mr-1"> </i> NUEVO</button>&nbsp;
                          </div>
                          
                          <div class="pr-2" style="margin-top: -15px;">
                            <button  class="btn btn-size btn-success" (click)="exportFile()"><i class="fas fa-file-excel mr-2"> </i>EXPORTAR</button>&nbsp;
                          </div>
                        </div>
                      </div>




                      <div class="card-body" style="margin-top: -20px;">
                        <div class="table-responsive">
                          <br>
                          <table class="table table-bordered">
                              <thead class="btn-primary" style="color: #fff; font-weight: lighter;">
                                  <tr>
                                      <th>ID</th>
                                      <th>Numero documento</th>
                                      <th>Nombres</th>
                                      <th>Correo</th>
                                      <th>Telefono</th>
                                      <th>Tipo</th>
                                      <th>Creación</th>
                                      <th>Estado</th>
                                      <th class="text-nowrap text-center">Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of empleadoService.items$ | async">

                                      <td>{{data.codUsuario}}</td>
                                      <td>{{data.numDocumento}}</td>
                                      <td>{{data.nombres}} </td>
                                      <td>{{data.email}}</td>
                                      <td>{{data.telefono}}</td>
                                      <td>{{data.tipo}}</td>
                                      <td>{{data.creacion | date:'yyyy-MM-dd'}}</td>
                                      <td style="cursor: pointer;">
                                        <span class="badge badge-pill badge-success" *ngIf="data.estado == 'ACTIVO'" (click)="openChangeStatus(data)">{{data.estado}}</span>
                                        <span class="badge badge-pill badge-danger" *ngIf="data.estado == 'INACTIVO'" (click)="openChangeStatus(data)">{{data.estado}}</span>
                                        </td>

                                      <td class="text-nowrap text-center">
                                          <!-- <button  class="cursor btn btn-secondary mr-2"   > <i class="fas fa-info-circle"> </i>  </button>  -->
                                          <button  tyel class="cursor btn btn-sm btn-warning mr-2" (click)="openEdit(data)" > <i class="fa fa-edit"> </i>  </button> 
                                          <button  class="cursor btn btn-sm btn-danger mr-2" (click)="openDelete(data)"   > <i class="fas fa-trash-alt"> </i>  </button> 
                                      </td>
                                  </tr>
                                  
                              </tbody>
                            </table>
                          </div>
                          <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
                        </div>

        </div>
    </div>
</div>