<div class="modal-header btn-primary">
    <h4 class="modal-title text-white">{{ formTitle }}</h4>
    <button (click)="closeMOdal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="modal-body">
    <form (ngSubmit)="onSubmit()" id="formUser" [formGroup]="formGroup">


           


            <div class="row" >
                <div class="col-12" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Nombre de campo:</mat-label>
                        <input type="text" name="nombre" autocomplete="off" matInput formControlName="nomLocalidad" >
                    </mat-form-field>
                </div>
            </div>



            <div class="row" >
                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Dia:</mat-label>
                        <input type="number" step="0.01" min="0.00"  name="nombre" autocomplete="off" matInput formControlName="precioDia" >
                    </mat-form-field>
                </div>

                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Noche:</mat-label>
                        <input type="number" step="0.01" min="0.00" name="nombre" autocomplete="off" matInput formControlName="precioNoche" >
                    </mat-form-field>
                </div>
            </div>


            <div class="row" >
                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Menores:</mat-label>
                        <input type="number" step="0.01" min="0.00" name="nombre" autocomplete="off" matInput formControlName="precioMenores" >
                    </mat-form-field>
                </div>

                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Mayores:</mat-label>
                        <input type="number" step="0.01" min="0.00" name="nombre" autocomplete="off" matInput formControlName="precioAdultosMayor" >
                    </mat-form-field>
                </div>
            </div>





            <div class="row" >
                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Vecinos SI:</mat-label>
                        <input type="number" step="0.01" min="0.00" name="nombre" autocomplete="off" matInput formControlName="precioVecinosSI" >
                    </mat-form-field>
                </div>

                <div class="col-6" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Precio Vecinos VSP:</mat-label>
                        <input type="number" step="0.01" min="0.00" name="nombre" autocomplete="off" matInput formControlName="precioVecinosVSP" >
                    </mat-form-field>
                </div>
            </div>




    </form>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="disableControl" (click)="closeMOdal()"> <i class="fas fa-times mr-1"> </i> CANCELAR</button>
    <button type="submit" [ngClass]="{'btn-dark': (disableControl === false), 'btn-warning': (disableControl === true)}"
        class="btn btn-primary" [disabled]="disableControl" form="formUser">
        <i *ngIf="disableControl" class="fas fa-spin fa-cog"></i> <i class="fas fa-save mr-1"> </i>
        {{ disableControl === true ? 'ENVIANDO' : 'ACEPTAR' }}  </button>
</div>