
  
  .container {
	flex-flow: row wrap;
	width: 110%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  
  .logo{
	  width: 50%;
	  height: 63%;
  }
  
  .custom-snackbar {
	background-color: #f44336; /* Color de peligro */
	color: white;
  }


  .app-body{
      background-image: url("../../../assets/img/back.jpg");
	//   background-color: #fff;
	  margin: 0;
	  background-position: center;
	  min-height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
  }

  .bg-primary {
	background: #343A40;
background: linear-gradient(15deg, rgb(45, 53, 61) 16%, rgba(25, 84, 49, 0.673) 85%);
}










