<div class="modal-header btn-primary">
    <h4 class="modal-title text-white">DETALLE RESERVA:</h4>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>


<div class="modal-body">

    <div class="row">


    <div class="col-8" >
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Cliente:</mat-label>
            <mat-icon matSuffix>person_pin</mat-icon>
            <input type="text"  name="nameClient" autocomplete="off" matInput  [(ngModel)]="data.nombreCompleto"  readonly >
        </mat-form-field>
      </div>


      <div class="col-4" >
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Codigo registro:</mat-label>
            <mat-icon  (click)="copyCODRegistro()" matSuffix >content_copy</mat-icon>
            <input  style="cursor: pointer;" (click)="copyCODRegistro()"  type="text" autocomplete="off" matInput  [(ngModel)]="data.codRegistro" name="timeGame" readonly >
        </mat-form-field>
      </div>




        <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Fecha - Hr Inicio:</mat-label>
                <mat-icon matSuffix>calendar_today</mat-icon>
                <input type="datetime" id="startDateTime" autocomplete="off" matInput  [ngModel]="data.fechaInicio | formatdate" name="startDateTime" readonly >
            </mat-form-field>
          </div>
    
    
          <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Fecha - Hr Fin:</mat-label>
                <mat-icon matSuffix>calendar_today</mat-icon>
                <input type="datetime" id="endDateTime" autocomplete="off" matInput  [ngModel]="data.fechaFinal | formatdate" name="endDateTime" readonly >
            </mat-form-field>
          </div>
  

          <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Precio:</mat-label>
                <mat-icon matSuffix>attach_money</mat-icon>
                <input type="text" id="price" autocomplete="off" matInput  [(ngModel)]="data.costoTarifa" name="price" readonly >
            </mat-form-field>
          </div>


          <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Tiempo de juego:</mat-label>
                <!-- <mat-icon matSuffix>access_time</mat-icon>
                <input type="text" id="timeGame" autocomplete="off" matInput  [(ngModel)]="data.duracion" name="timeGame" readonly > -->
                <mat-select  value="110" >
                    <mat-option *ngFor="let data of times" [value]="data.time" >{{data.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div>




          <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Estado:</mat-label>
                <mat-icon matSuffix>list</mat-icon>
                <input type="text" id="price" autocomplete="off" matInput  [(ngModel)]="data.estado" name="price" readonly >
            </mat-form-field>
          </div>


          <div class="col-6" >
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Venta ID:</mat-label>
                <mat-icon  (click)="copyIDVenta()" matSuffix >content_copy</mat-icon>
                <input  style="cursor: pointer;" (click)="copyIDVenta()"  type="text" id="timeGame" autocomplete="off" matInput  [(ngModel)]="data.venta_id" name="timeGame" readonly >
            </mat-form-field>
          </div>




        </div>

      
</div>


<div class="modal-footer">
    <button [disabled]="deleting" class="btn btn-success" (click)="closeModal()">CERRAR</button>
    <!-- <button [disabled]="deleting" *ngIf="deleted === false" class="btn btn-primary"
    [ngClass]="{'btn-dark': (deleting === false), 'btn-warning': (deleting === true)}"
    (click)="delete()">
    <i *ngIf="deleting" class="fas fa-spin fa-cog"></i>
    ACEPTAR</button> -->
  </div>