<div class="modal-header btn-primary">
    <h4 class="modal-title text-white">EDITAR AJUSTES</h4>
    <button (click)="closeMOdal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<div class="modal-body">
    <form (ngSubmit)="onSubmit()" id="formUser" [formGroup]="formGroup">

            <div class="row" >

                <div class="col-12" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Nombre de empresa:</mat-label>
                        <input type="text" name="nombre" autocomplete="off" matInput formControlName="nombre" >
                    </mat-form-field>
                </div>

                <div class="col-12" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Dirección:</mat-label>
                        <input type="text" name="nombre" autocomplete="off" matInput formControlName="direccion" >
                    </mat-form-field>
                </div>


                <div class="col-12" >
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Telefono:</mat-label>
                        <input type="text" name="nombre" autocomplete="off" matInput formControlName="telefono" >
                    </mat-form-field>
                </div>
               

                <div class="row col-12" style="justify-content: center;">
                    <img [src]="urlImg+data.logo" width="150" *ngIf="imgSelect">
                    <img [src]="data.logo" width="150" *ngIf="!imgSelect" >
                </div>
                <div class="row col-12 pt-3" style="justify-content: center;">
                    <input type="file" class="cz-file-drop-input" accept="image/*" (change)="imgSelected($event)">
                </div>


            </div>


    </form>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="disableControl" (click)="closeMOdal()"> <i class="fas fa-times mr-1"> </i> CANCELAR</button>
    <button type="submit" [ngClass]="{'btn-dark': (disableControl === false), 'btn-warning': (disableControl === true)}"
        class="btn btn-primary" [disabled]="disableControl" form="formUser">
        <i *ngIf="disableControl" class="fas fa-spin fa-cog"></i> <i class="fas fa-save mr-1"> </i>
        {{ disableControl === true ? 'ENVIANDO' : 'ACEPTAR' }}  </button>
</div>